*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --mainTransition: all 0.3s linear;
  --primaryColor: #0081cc;
  --borderPrimary: 1px solid #0081cc;
  --paddingDefault: 15px 1.2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a192f;
  padding: 20px 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  font-size: 1.8rem;
  color: #9eb8dd;
  margin-bottom: 10px;
}

h6{
  font-size: 1.5rem;
  color: #fafcff;
  margin-bottom: 10px;
}

.header{
  padding: 1rem;
  text-align: center;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2{
  margin-top: 1rem;
}

.mt-3{
  margin-top: 1.5rem;
}

.mb-1{
  margin-bottom: 0.5rem;
}

.mb-2{
  margin-bottom: 1rem;
}

.mb-3{
  margin-bottom: 1.5rem;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"]{
  padding: var(--paddingDefault);
  font-size: 1.2rem;
  color: #ffffff;
  background-color: transparent;
  border: var(--borderPrimary);
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  text-align: center;
}

input[type="checkbox"] {
  width: 20px;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  margin-right: 20px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

li{
  list-style: none;
}

button,
select {
  cursor: pointer;
}

select{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: var(--borderPrimary);
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.2s ease;
  -webkit-transition: background-color 0.3s ease, transform 0.2s ease;
  -moz-transition: background-color 0.3s ease, transform 0.2s ease;
  -ms-transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1.2rem;
}

.select option {
  background-color: #0a0a0a; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  font-size: 1.2rem;
  padding: 10px;
}

.btn{
  height: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  padding: 10px 1rem;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  -webkit-transition: background-color 0.3s ease, transform 0.2s ease;
  -moz-transition: background-color 0.3s ease, transform 0.2s ease;
  -ms-transition: background-color 0.3s ease, transform 0.2s ease;
  -o-transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover{
  transform: scale(1.05);
}

.btn-primary {
  background-color: #0081cc;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0068b7;
}

.btn-danger {
  background-color: #dc2626;
  color: white;
}

.btn-danger:hover {
  background-color: #b91c1c;
}

.btn-secondary{
  background-color: #9eb8dd;
  color: #000;
}

.btn-secondary:hover{
  background-color: #87a8c2;
}

.btn-success {
  background-color: #32c75b;
  color: white;
}

.btn-success:hover {
  background-color: #2eb74a;
}

input:focus{
  border: 1px solid #0068b7;
  outline: none;
  box-shadow: 0 0 10px 0 #0068b7;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.nav-link{
  color: #9eb8dd;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  padding: 10px 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primaryColor);
}

.nav-link:hover{
  color: var(--primaryColor);
  cursor: pointer;
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
}

.nav-link.active{
  color: var(--primaryColor);
}

.nav-link.active::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primaryColor);
}

.nav-link::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: var(--mainTransition);
}

.nav-link:hover::before{
  background: var(--primaryColor);
}

.todo-options{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  display: flex;
}
