li {
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 1px solid #0081cc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 2%;
}